<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.ac.tuwien.ieg.asbruedit.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="at.ac.tuwien.ieg.asbruedit.Perspective"
            id="at.ac.tuwien.ieg.asbruedit.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="at.ac.tuwien.ieg.asbruedit.view.condition.ConditionView"
            id="at.ac.tuwien.ieg.asbruedit.conditionview"
            name="Conditions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.8"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="at.ac.tuwien.ieg.asbruedit.conditionview"
               minimized="false"
               ratio="0.75"
               relationship="left"
               relative="org.eclipse.ui.views.PropertySheet"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="at.ac.tuwien.ieg.asbruedit.command.open-file"
                  label="File Open .."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:at.ac.tuwien.ieg.asbruedit.conditionview">
         <command
               commandId="at.ac.tuwien.ieg.asbruedit.conditionview-showselect"
               label="filter-precondition"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="filter-precondition">
            </parameter>
         </command>
         <command
               commandId="at.ac.tuwien.ieg.asbruedit.conditionview-showselect"
               label="setup-precondition"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="setup-precondition">
            </parameter>
         </command>
         <command
               commandId="at.ac.tuwien.ieg.asbruedit.conditionview-showselect"
               label="suspend-condition"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="suspend-condition">
            </parameter>
         </command>
         <command
               commandId="at.ac.tuwien.ieg.asbruedit.conditionview-showselect"
               label="reactivate-condition"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="reactivate-condition">
            </parameter>
         </command>
         <command
               commandId="at.ac.tuwien.ieg.asbruedit.conditionview-showselect"
               label="complete-condition"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="complete-condition">
            </parameter>
         </command>
         <command
               commandId="at.ac.tuwien.ieg.asbruedit.conditionview-showselect"
               label="abort-condition"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="abort-condition">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="at.ac.tuwien.ieg.asbruedit.menuContribution3">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.ac.tuwien.ieg.asbruedit.handlers.OpenFile"
            id="at.ac.tuwien.ieg.asbruedit.command.open-file"
            name="Open File">
      </command>
      <command
            defaultHandler="at.ac.tuwien.ieg.asbruedit.view.condition.ConditionSelectHandler"
            id="at.ac.tuwien.ieg.asbruedit.conditionview-showselect"
            name="Condition Select">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Type"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:left"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.ac.tuwien.ieg.asbruedit.editor.planstrips.PlanStripsEditor"
            contributorClass="at.ac.tuwien.ieg.asbruedit.editor.AsbruActionBarContributor"
            default="false"
            icon="icons/planstrips_16.gif"
            id="at.ac.tuwien.ieg.asbruedit.asbrueditor"
            name="PlanStrips Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.ac.tuwien.ieg.asbruedit.editor.planstrips.preferences.PlanStripsPreferences"
            id="at.ac.tuwien.ieg.asbruedit.preferences.PlanStripsPreferences"
            name="Plan Strips">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="at.ac.tuwien.ieg.asbruedit.editor.planstrips.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="at.ac.tuwien.ieg.asbruedit.view.condition.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.ac.tuwien.ieg.asbruedit.application"
            name="AsbruEdit">
         <property
               name="appName"
               value="AsbruEdit">
         </property>
      </product>
   </extension>
   <extension
         id="asbruedit"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.ac.tuwien.ieg.asbruedit.application"
            name="AsbruEdit">
         <property
               name="appName"
               value="AsbruEdit">
         </property>
      </product>
   </extension>

</plugin>
